@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");



body {
  font-family: "Schibsted Grotesk", sans-serif !important;
  padding: 0px 16px;
}

.material-symbols-outlined {
  font-weight: 200;
  font-size: 30px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  text-decoration: inherit;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
}

.filter-icon {
  font-size: 20px;
  font-weight: 900;
  padding: 8px 0px;
  text-transform: uppercase;
}

.filter-icon sup {
  font-size: 10px;
  font-weight: 400;
  padding: 0px 4px;
  vertical-align: super;
  color: #d4d4d4;
}

.filter-icon:hover {
  color: #d4d4d4;
}

.filter-icon .material-icons {
  transition: 0.3s ease-in-out;
}

.filter-icon:hover .material-icons {
  transform: translateX(5px);
}
